* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #282828;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  background-color: #ffffff;
}
